<!DOCTYPE html>
<html>
<head>
    <!-- <title>File Viewer</title> -->
<!-- </head> -->
<body>
    <!-- <h1>File Viewer</h1> -->
    
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% else %}
        <div class="image-container">
            {% for filename in image_filename %}
                <img src="{{ url_for('static', filename=filename) }}" alt="{{ filename }}">
            {% endfor %}
        </div>
    {% endif %}
</body>
</html>

