<!DOCTYPE html>
<html>
<head>
    <title>Image Display</title>
</head>
<body>
    <h1>Plane Efficency</h1>
    <p> </p>
    <!-- Replace '{{ image_filename }}' with the variable name from the Python code -->
    <img src="{{ url_for('static', filename=image_filename[0]) }}" alt="Image1">
    <!-- <img src=image_filename alt="Image"> -->

    <h1>radiation Efficency</h1>
    <p> </p>
    <img src="{{ url_for('static', filename=image_filename[1]) }}" alt="Image2">
    <!-- <img src=image_filename alt="Image"> -->
</body>
</html>