<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tracker Efficency Visualization</title>
    <style>
        /* Your existing CSS styles remain unchanged */

        .form-container {
            text-align: center; /* Center-align the form contents */
        }
        .form-container select {
            width: 20%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        /* Remove the margin between the select menus */
        .form-container select + select {
            margin-left: 0;
        }

        .form-container input[type="button"] {
            margin-top: 10px; /* Add margin to the top of the buttons for spacing */
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1></h1>
            <h1></h1>
        </div>
        <div class="form-container">
            <form id="fileForm">
                <!-- Tracker Efficency Visualization -->
                <label for="fileSelect">Compaign:</label>
                <select id="fileSelect" name="firstOption" onchange="updateSecondSelectOptions()">
                    {% for file_name in file_names %}
                        <option value="{{ file_name[0] }}">{{ file_name[0] }}</option>
                    {% endfor %}
                </select>

                <!-- Second select menu -->
                <label for="fileSelect">Run:</label>
                <select id="secondFileSelect" name="secondOption" onchange="updateThirdSelectOptions()">
                    <!-- Options will be dynamically populated using JavaScript -->
                </select>

                <!-- Third select menu -->
                <label for="fileSelect">task:</label>
                <select id="thirdFileSelect" name="thirdOption">
                    <!-- Options will be dynamically populated using JavaScript -->
                </select>

                <br>
                <input type="button" value="Submit" onclick="submitForm()">
                <input type="button" value="Clear" onclick="clearForm()">
            </form>
            <div class="result-container" id="result"></div>
        </div>
        
        <div class="image-container" id="imageContainer">
            <!-- Images will be displayed here -->
        </div>
    </div>    

    <script type="module">
        import { openFile, draw } from 'https://root.cern/js/latest/modules/main.mjs';
        var file_names = {{ file_names|safe }};
                // Import the necessary functions
        

        // async function drawHistogram() {
        //     let file = await openFile('https://root.cern/js/files/hsimple.root');
        //     let obj = await file.readObject('hpxpy;1');
            
        //     // Construct the URL based on the file name
        //     // var url = '/eos/cms/store/group/dpg_ctpps/comm_ctpps/pps-automation/dev/pps-test-re-tracking-efficiency/367884/outputEfficiencyAnalysisDQMHarvester_run367884.root';
        //     // let file = await openFile(url);
        //     // let obj = await file.readObject('h2EfficiencyMap_arm0_st0_rp3_pl4;1');
        //     // Use the draw function from the external module
        //     draw('drawing', obj);
        // }


        function updateSecondSelectOptions() {
            var firstSelect = document.getElementById("fileSelect");
            var secondSelect = document.getElementById("secondFileSelect");

            // Clear existing options
            secondSelect.innerHTML = "";

            // Get the selected option from the first select
            var selectedOption = firstSelect.options[firstSelect.selectedIndex].value;

            // Fetch options based on the selected value
            var options = getOptionsBasedOnSelection(selectedOption, "second");

            // Populate the second select with new options
            for (var i = 0; i < options.length; i++) {
                var option = document.createElement("option");
                option.value = options[i];
                option.text = options[i];
                secondSelect.appendChild(option);
            }

            // Trigger the update of the third select options
            updateThirdSelectOptions();
        }

        function updateThirdSelectOptions() {
            var secondSelect = document.getElementById("secondFileSelect");
            var thirdSelect = document.getElementById("thirdFileSelect");

            // Clear existing options
            thirdSelect.innerHTML = "";

            // Get the selected option from the second select
            var selectedOption = secondSelect.options[secondSelect.selectedIndex].value;

            // Fetch options based on the selected value
            var options = getOptionsBasedOnSelection(selectedOption, "third");

            // Populate the third select with new options
            for (var i = 0; i < options.length; i++) {
                var option = document.createElement("option");
                option.value = options[i];
                option.text = options[i];
                thirdSelect.appendChild(option);
            }
        }

        function getOptionsBasedOnSelection(selectedValue, whichOpt) {
            for (var i = 0; i < file_names.length; i++) {
                if(whichOpt == "second"){
                    if (file_names[i][0] == selectedValue) {
                        return file_names[i][1];
                    }
                }
                if(whichOpt == "third"){
                    for (var j = 0; j < file_names[i][1].length; j++) {
                        if (file_names[i][1][j] == selectedValue) {
                            // fileName = file_names[i][3][j];
                            
                            return file_names[i][2][j];
                            
                        }
                    }
                }

            }
            return [];
        }

        function submitForm(fileName) {
            var form = document.getElementById("fileForm");
            var formData = new FormData(form);

            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        document.getElementById("result").innerHTML = xhr.responseText;
                         
                    }
                }
            };

            // xhr.open("POST", "/process_option", true);
            // xhr.send(formData);
        }

        function clearForm() {
            var form = document.getElementById("fileForm");
            form.reset();
            document.getElementById("result").innerHTML = "";
        }

        // Initial population of the second and third select menus when the page loads
        window.onload = function() {
            updateSecondSelectOptions();
            updateThirdSelectOptions();
            drawHistogram();
        };
        // Call drawHistogram when the document is fully loaded
        document.addEventListener('DOMContentLoaded', function () {
        drawHistogram();
        });

        let file = await openFile('https://root.cern/js/files/hsimple.root');
            let obj = await file.readObject('hpxpy;1');
            draw('drawing', obj);


        //     // Function to draw the histogram using the specified file name
        // async function drawHistogram() {
        //     // Construct the URL based on the file name
        //     import { openFile, draw } from 'https://root.cern/js/latest/modules/main.mjs';
        //     let file = await openFile('https://root.cern/js/files/hsimple.root');
        //     let obj = await file.readObject('hpxpy;1');
        //     // var url = '/eos/cms/store/group/dpg_ctpps/comm_ctpps/pps-automation/dev/pps-test-re-tracking-efficiency/367884/outputEfficiencyAnalysisDQMHarvester_run367884.root';
        //     // Use the openFile and draw functions from the external module
        //     // let file = await openFile(file);
        //     // let obj = await file.readObject(' h2EfficiencyMap_arm0_st0_rp3_pl4;1');
        //     draw('drawing', obj);
        // }

    </script>
</body>
</html>
