<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tracker Efficency Visualization</title>
    <style>
        /* Your existing CSS styles remain unchanged */

        .form-container {
            text-align: center; /* Center-align the form contents */
        }
        .form-container select {
            width: 20%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        /* Remove the margin between the select menus */
        .form-container select + select {
            margin-left: 0;
        }

        .form-container input[type="button"] {
            margin-top: 10px; /* Add margin to the top of the buttons for spacing */
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1></h1>
            <h1></h1>
        </div>
        <div class="form-container">
            <form id="fileForm">
                <!-- Tracker Efficency Visualization -->
                <label for="fileSelect">Compaign:</label>
                <select id="fileSelect" name="firstOption" onchange="updateSecondSelectOptions()">
                    {% for file_name in file_names %}
                        <option value="{{ file_name[0] }}">{{ file_name[0] }}</option>
                    {% endfor %}
                </select>

                <!-- Second select menu -->
                <label for="fileSelect">Run:</label>
                <select id="secondFileSelect" name="secondOption" onchange="updateThirdSelectOptions()">
                    <!-- Options will be dynamically populated using JavaScript -->
                </select>

                <!-- Third select menu -->
                <label for="fileSelect">task:</label>
                <select id="thirdFileSelect" name="thirdOption">
                    <!-- Options will be dynamically populated using JavaScript -->
                </select>

                <br>
                <input type="button" value="Submit" onclick="submitForm()">
                <input type="button" value="Clear" onclick="clearForm()">
            </form>
            <div class="result-container" id="result"></div>
        </div>
        
        <div class="image-container" id="imageContainer">
            <!-- Images will be displayed here -->
        </div>
    </div>    

    <script>
        var file_names = {{ file_names|safe }};

        function updateSecondSelectOptions() {
            var firstSelect = document.getElementById("fileSelect");
            var secondSelect = document.getElementById("secondFileSelect");

            // Clear existing options
            secondSelect.innerHTML = "";

            // Get the selected option from the first select
            var selectedOption = firstSelect.options[firstSelect.selectedIndex].value;

            // Fetch options based on the selected value
            var options = getOptionsBasedOnSelection(selectedOption, selectedOption, "second");

            // Populate the second select with new options
            for (var i = 0; i < options.length; i++) {
                var option = document.createElement("option");
                option.value = options[i];
                option.text = options[i];
                secondSelect.appendChild(option);
            }

            // Trigger the update of the third select options
            updateThirdSelectOptions();
        }

        function updateThirdSelectOptions() {
            var firstSelect = document.getElementById("fileSelect");
            var secondSelect = document.getElementById("secondFileSelect");
            var thirdSelect = document.getElementById("thirdFileSelect");

            // Clear existing options
            thirdSelect.innerHTML = "";

            // Get the selected option from the second select
            var firstselectedOption = firstSelect.options[firstSelect.selectedIndex].value;
            var secondselectedOption = secondSelect.options[secondSelect.selectedIndex].value;


            // Fetch options based on the selected value
            var options = getOptionsBasedOnSelection(firstselectedOption, secondselectedOption, "third");

            // Populate the third select with new options
            for (var i = 0; i < options.length; i++) {
                var option = document.createElement("option");
                option.value = options[i];
                option.text = options[i];
                thirdSelect.appendChild(option);
            }
        }

        function getOptionsBasedOnSelection(firstselectedValue, secondselectedValue, whichOpt) {
            for (var i = 0; i < file_names.length; i++) {
                if(whichOpt == "second"){
                    if (file_names[i][0] == firstselectedValue) {
                        return file_names[i][1];
                        
                    }
                }
                if(whichOpt == "third"){
                    if (file_names[i][0] == firstselectedValue) {
                        for (var j = 0; j < file_names[i][1].length; j++) {
                            if (file_names[i][1][j] == secondselectedValue) {
                                return file_names[i][2][j];
                                console.log(file_names[i][2][j]);
                            }
                        }
                    }
                }

            }
            return [];
        }

        function submitForm() {
            var form = document.getElementById("fileForm");
            var formData = new FormData(form);

            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        document.getElementById("result").innerHTML = xhr.responseText;
                    }
                }
            };

            xhr.open("POST", "/process_option", true);
            xhr.send(formData);
        }

        function clearForm() {
            var form = document.getElementById("fileForm");
            form.reset();
            document.getElementById("result").innerHTML = "";
        }

        // Initial population of the second and third select menus when the page loads
        window.onload = function() {
            updateSecondSelectOptions();
            updateThirdSelectOptions();
        };
    </script>
</body>
</html>
