<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Select a File</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f8f8f8;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 1900px;
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .header {
            margin-bottom: 20px;
        }

        .form-container {
            text-align: center;
        }

        .form-container select {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        .form-container input[type="button"] {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            background-color: #4caf50;
            color: #fff;
            border: none;
            border-radius: 5px;
            margin-right: 10px;
        }

        .form-container input[type="button"]:hover {
            background-color: #45a049;
        }

        .form-container input[type="button"]:last-child {
            margin-right: 0;
        }

        .result-container {
            margin-top: 20px;
            font-size: 18px;
            font-weight: bold;
            color: #333;
        }

        .image-container img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Select a File:</h1>
        </div>
        <div class="form-container">
            <form id="fileForm">
                <select id="fileSelect" name="option">
                    {% for file_name in file_names %}
                        <option value="{{ file_name }}">{{ file_name }}</option>
                    {% endfor %}
                </select>
                <br>
                <input type="button" value="Submit" onclick="submitForm()">
                <input type="button" value="Clear" onclick="clearForm()">
            </form>
            <div class="result-container" id="result"></div>
        </div>
        
        <div class="image-container" id="imageContainer">
            <!-- Images will be displayed here -->
        </div>
    </div>

    <script>
        function submitForm() {
            var form = document.getElementById("fileForm");
            var formData = new FormData(form);

            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        document.getElementById("result").innerHTML = xhr.responseText;
                    }
                }
            };

            xhr.open("POST", "/process_option", true);
            xhr.send(formData);
        }

        function clearForm() {
            var form = document.getElementById("fileForm");
            form.reset();
            document.getElementById("result").innerHTML = "";
        }
    </script>
</body>
</html>
