<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Select a File</title>
  </head>
  <body>
    <h1>Select a File:</h1>
    <form id="fileForm">
      <select id="fileSelect" name="option">
        {% for file_name in file_names %}
          <option value="{{ file_name }}">{{ file_name }}</option>
        {% endfor %}
      </select>
      <br>
      <input type="button" value="Submit" onclick="submitForm()">
      <input type="button" value="Clear" onclick="clearForm()">
    </form>
    <div id="result"></div>
    
    <script>
      function submitForm() {
        var form = document.getElementById("fileForm");
        var formData = new FormData(form);
        
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 200) {
              document.getElementById("result").innerHTML = xhr.responseText;
            }
          }
        };
        
        xhr.open("POST", "/process_option", true);
        xhr.send(formData);
      }

      function clearForm() {
        var form = document.getElementById("fileForm");
        form.reset();
        document.getElementById("result").innerHTML = "";
      }
    </script>
  </body>
</html>
