<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Select an Option</title>
  </head>
  <body>
    <h1>Select an Option:</h1>
    <form action="/process_option2" method="post">
      {% for file_name in keylist %}
        <label for="{{ file_name }}">{{ file_name }}</label>
        <input type="radio" id="{{ file_name }}" name="option" value="{{ file_name }}"><br>
      {% endfor %}
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
